.input-group {
  display: flex;
  align-items: center;
  margin-top: 14px;
  margin-left: 22px;
  transition: opacity 0.2s;

  @include respond(phone) {
    margin-left: 18px;
  }

  &--sub-field {
    margin-left: 20px;
    width: 100%;

    @include respond(phone) {
      margin-left: 16px;
    }
  }

  &--wrappable {
    display: flex;
    flex-wrap: wrap;
  }

  &__label {
    margin-right: 12px;
    white-space: nowrap;
  }

  &__unit {
    margin-left: 4px;
  }

  &__width-unit {
    margin-left: 4px;
    align-self: stretch;
  }
}
