$offwhite: #e6e6e6;
$offgray: #c3c3c3;
$settings-light: #4e4e4e;
$settings-dark: #404040;
$settings-darker: #333333;
$primary: #233153;
$primary-light: #394f86;
$primary-dark: #0e1321;
$secondary: orangered;

$background-image: url('./brushed_metal_dark_med_hd.jpg');
